MONGO_URI=mongodb+srv://visheshkumar41:SQBerNc12VOlAsWC@cluster0.d41dp.mongodb.net/othtech-hrms?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB=othtech-hrms
JWT_SECRET=your-super-secret-jwt-key-change-in-production
PORT=5000
NODE_ENV=development 